################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VendingMachine/FileContentIndex/463f7399-3e23-4086-b2d5-3bd8989b103f.vsidx
/.vs/VendingMachine/copilot-chat/9a3431db/sessions/d980306a-e0c6-480b-a752-3995b7685f3e
/.vs/VendingMachine/FileContentIndex/1c960740-1da1-4fd8-a87e-ebaaffd4196f.vsidx
/.vs/VendingMachine/FileContentIndex/bc924e1a-50c7-4fdc-bba8-6f624dfd93ff.vsidx
/.vs/VendingMachine/FileContentIndex/2d152281-308a-4e9c-a058-ce8fff06fd4c.vsidx
/.vs/VendingMachine/FileContentIndex/e85badd4-78d6-471d-bc24-edd0e55f0010.vsidx
/.vs/VendingMachine/FileContentIndex/e00992b0-0398-425a-8e5b-c7f71afaf7a7.vsidx
/.vs/VendingMachine/FileContentIndex/b78b5780-db91-4e59-a116-9eb873ad0da0.vsidx
/.vs/VendingMachine/FileContentIndex/14b33789-f43e-4e76-a628-14adbc1795a2.vsidx
/.vs/VendingMachine/FileContentIndex/cd342e18-d11a-4f77-af0e-1b5456a0e1c4.vsidx
