################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VendingMachine/FileContentIndex/463f7399-3e23-4086-b2d5-3bd8989b103f.vsidx
