################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VendingMachine/FileContentIndex/463f7399-3e23-4086-b2d5-3bd8989b103f.vsidx
/.vs/VendingMachine/copilot-chat/9a3431db/sessions/d980306a-e0c6-480b-a752-3995b7685f3e
/.vs/VendingMachine/FileContentIndex/1c960740-1da1-4fd8-a87e-ebaaffd4196f.vsidx
